/* ------------------		Agency Section Start		---------------------- */
.agency-section {
	padding: 50px 20px;
	background-color: #fff; /* Adjust based on your design */
	text-align: center;
}

.agency-content {
	width: min(100%, 70rem);
	margin: 0 auto;
}

.agency-title {
	font-family: "manifold bold";
	font-size: 2.7rem;
	color: #00bcd4; /* Match the light blue color in the image */
	font-weight: 700;
	margin-bottom: 10px;
}

.agency-subtitle {
	font-family: "manifold light";
	font-size: 1.4rem;
	color: #757575;
	margin-bottom: 20px;
}

.agency-description {
	font-family: "manifold light";
	font-size: 1.2rem;
	text-align: left;
	color: #777;
	line-height: 1.6;
	margin-bottom: 15px;
}
/* ------------------		Agency Section End		---------------------- */

/* ------------------		How it Works Start		---------------------- */
.how-it-works {
	text-align: center;
	padding: 60px 20px;
}

.section-title {
	font-size: 2.2rem;
	color: #20bed3;
	margin-bottom: 10px;
}

.section-subtitle {
	font-size: 1.1rem;
	color: #666;
	margin-bottom: 40px;
}

.steps-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
	position: relative;
	padding-top: 3.5rem;
}

.step-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 30px 20px;
	flex: 1;
	height: 17rem;
	text-align: center;
	transition: transform 0.3s ease-in-out;
}

.step-card:hover {
	transform: translateY(-10px);
}

.step-icon {
	width: 50px;
	margin-bottom: 20px;
}

.step-title {
	font-size: 1.2rem;
	color: #333;
	margin-bottom: 15px;
}

.step-description {
	font-size: 1rem;
	color: #666;
	line-height: 1.6;
}

/* Arrow SVG Styling */
.step-arrow {
	position: absolute;
	top: 3rem;
	margin-top: -40px;
	margin-bottom: -40px;
	width: 200px;
	height: auto;
}

.step-arrow:first-of-type {
	left: 25%;
}
.step-arrow:last-of-type {
	right: 25%;
}

/* Responsive Styling */
@media (max-width: 768px) {
	.steps-container {
		flex-direction: column;
		gap: 40px;
	}

	.step-arrow {
		display: none;
	}
}

/* ------------------		How it Works End		---------------------- */

/* ------------------		Service Start		---------------------- */
.service-section {
	background-image: url("assets/AOA\ -\ Fondo\ Servicios\ con\ degradado-29.webp");
	background-size: contain;
	padding-bottom: 4rem;
}
.service-section .service-title {
	color: #00b8d4;
	font-size: 2.5rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 1rem;
}

.service-subtitle {
	color: #666;
	text-align: center;
	max-width: 800px;
	margin: 0 auto 3rem;
}

.service-wrapper {
	position: relative;
	margin: 0 auto;
	max-width: 1200px; /* Ensure it's centered and fits well */
}

.service-slider {
	display: flex;
	gap: 2rem;
	padding-block: 2rem;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	overflow-x: auto;
	scroll-snap-align: start;
}

.service-slider::-webkit-scrollbar {
	display: none;
}

.service-card {
	flex: 0 0 calc(25% - 2rem); /* 4 cards per view */
	scroll-snap-align: center;
	background-color: #fff;
	border-radius: 10px;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	box-sizing: border-box;
}

.service-icon {
	font-size: 2rem;
	color: #00b8d4;
	margin-bottom: 1rem;
}

.service-card-title {
	font-weight: bold;
	font-size: 1.45em;
	margin-bottom: 1rem;
}

.carousel-control-prev,
.carousel-control-next {
	width: 5%;
}

.carousel-control-next {
	rotate: 180deg;
	right: -5rem;
}

.carousel-control-prev {
	left: -5rem;
}

@media screen and (width < 1200px) {
	.service-card {
		flex: 1 0 32%;
	}

	.carousel-control-prev {
		left: -4%;
	}

	.carousel-control-next {
		right: -4%;
	}
}

@media screen and (width < 992px) {
	.service-card {
		flex: 1 0 50%;
	}

	.carousel-control-prev {
		left: -6%;
	}

	.carousel-control-next {
		right: -6%;
	}
}

@media screen and (width < 768px) {
	.service-card {
		flex: 1 0 100%;
	}
}

@media screen and (width < 600px) {
	.carousel-control-prev {
		display: none;
	}

	.carousel-control-next {
		display: none;
	}
}
/* ------------------		Service End		---------------------- */

/* ------------------		Service Content Start		---------------------- */
.service-content-container .service-content {
	display: flex;
	align-items: center;
	gap: 1.2rem;
}

.service-content-container .service-content:nth-of-type(even) {
	flex-direction: row-reverse;
}

.service-content-container
	.service-content:nth-of-type(odd)
	.service-content-img
	img {
	position: relative;
	right: 5rem;
}

.service-content-container .service-content > div {
	flex: 1;
}

.service-content-container .service-content .service-content-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.service-content-container .service-content .service-content-details h2 {
	font-weight: 700;
}

.service-content-container .service-content .service-content-details ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 3rem;
	list-style: none;
	padding: 0;
}

.service-content-container .service-content .service-content-details ul li {
	display: flex;
	gap: 1rem;
	align-items: center;
	color: #817f7f;
}

.service-content-container .service-content .service-content-details ul li {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.service-content-container .service-content .service-content-details ul li * {
	margin: 0;
	padding: 0;
}

.service-content-container
	.service-content
	.service-content-details
	ul
	li
	.item-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.service-content-container
	.service-content
	.service-content-details
	ul
	li
	.item-content
	h3 {
	font-size: 1.2em;
	font-weight: 800;
}

@media screen and (width < 768px) {
	.service-content-container .service-content,
	.service-content-container .service-content:nth-of-type(even) {
		flex-direction: column-reverse;
	}

	.service-content-container
		.service-content:nth-of-type(odd)
		.service-content-img
		img {
		position: static;
	}
}
/* ------------------		Service Content End		---------------------- */

/* ------------------		Client/Testimonial Start		---------------------- */
.client-section {
	background-image: url("assets/AOA\ -\ Fondo\ Testimonio-24.webp");
	background-size: cover;
	height: 100vh;
	width: 100vw;
	/* overflow: hidden; */
}

/* .client-section .client-banner {
	width: 100vw;
} */

.client-section .client-section-content {
	text-align: center;
	max-width: 45rem;
	color: #fff;
}

.client-section .client-section-content h1 {
	font-weight: 900;
}

.client-section .client-section-content .client-details {
	background-color: #fff;
	text-align: start;
	margin-top: 2rem;
}

.client-section .client-section-content .client-details h2 {
	color: #20bed3;
	font-size: 1.4em;
	margin: 0;
	margin-top: 1rem;
}

.client-section .client-section-content .client-details h3 {
	color: #3b3b3b;
	font-size: 1.2em;
	margin: 0;
	margin-bottom: 0.5rem;
}

.client-section .client-section-content .client-details p {
	color: #817f7f;
}
/* ------------------		Client/Testimonial End		---------------------- */

/* ------------------		Articles Start		---------------------- */
.articles {
	margin-top: 10rem;
}

.articles h1 {
	color: #20bed3;
	font-size: 3rem;
	font-weight: 900;
	margin-bottom: 3rem;
}

.articles .ver-mas {
	color: #20bed3;
	float: right;
	margin-top: 2rem;
	font-size: initial;
}

.articles .articles-container {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.articles .article {
	width: 30%;
}

.articles .article .article-img {
	width: 100%;
	height: 15rem;
	overflow: hidden;
	border-radius: 8px;
}

.articles .article img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.articles .btn-cotizar.category {
	font-family: "manifold regular";
	padding: 0 1.5rem;
	border-radius: 5px;
	font-weight: 400;
	margin-top: 10px;
}

.articles .article h2 {
	font-family: "manifold semi bold";
	color: #20bed3;
	font-size: 18px;
	margin-top: 10px;
}

.articles .article p {
	font-size: 14px;
	color: #666;
}

.articles .leer-mas {
	color: #00183a;
	font-size: 14px;
}

@media screen and (width < 768px) {
	.articles .articles-container {
		justify-content: initial;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
		overflow-x: auto;
		gap: 1rem;
	}

	.service-slider::-webkit-scrollbar {
		display: none;
	}

	.articles {
		margin-top: 4rem;
	}

	.articles .article {
		flex: 1 0 100%;
		scroll-snap-align: center;
	}

	.articles h1 {
		font-size: 2rem;
	}

	.articles .ver-mas {
		float: right;
		margin-top: initial;
	}
}
/* ------------------		Articles End		---------------------- */

/* ------------------		Qoute Section Start		---------------------- */
.qoute-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 3rem;
	padding: 20px;
	margin-block: 5rem;
}
.qoute-section .quote {
	text-align: center;
	font-size: 2rem;
	color: #333;
}

@media screen and (width < 500px) {
	.qoute-section .arrow {
		display: none;
	}
}
/* ------------------		Qoute Section End		---------------------- */

/* ------------------		Email Section Start		---------------------- */
.email-section {
	background: transparent
		radial-gradient(
			closest-side at 50% 50%,
			#00183a 0%,
			#001635 77%,
			#010c1d 100%
		)
		0% 0% no-repeat padding-box;
	padding: 7rem;
	z-index: -2;
}

.email-section .email-section-img:first-of-type {
	bottom: 5rem;
	left: 12rem;
	z-index: -1;
}

.email-section .email-section-img:nth-of-type(2) {
	top: 15rem;
	right: -6rem;
	z-index: -1;
}

.email-section .left-column {
	flex: 1;
	padding-right: 20px;
}

.email-section .right-column {
	flex: 1;
	background-color: #ffffff;
	border-radius: 20px;
	padding: 20px;
	color: #333;
}

.email-section .left-column h1,
.email-section .right-column h2 {
	font-family: "manifold bold";
	color: #20bed3;
}
.email-section .map {
	margin-top: 20px;
}
.email-section .country {
	margin: 10px 0;
}
.email-section .form-group {
	margin-bottom: 15px;
}

.email-section .form-group > label {
	color: #000;
	margin-bottom: 0.5rem;
}

.email-section input,
.email-section select,
.email-section textarea {
	width: 100%;
	padding: 12px 1.5rem;
	border: 1px solid #20bed3;
	border-radius: 5px;
	border-radius: 2rem;
	resize: none;
}
.email-section .checkbox-group {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}

.email-section .checkbox-group label {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.email-section .checkbox-group label .checkbox-content {
	flex: 1 0 90%;
}

.email-section .submit-btn {
	background-color: #20bed3;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

@media screen and (width < 1200px) {
	.email-section .email-section-img:first-of-type {
		bottom: 7rem;
		left: 6rem;
		z-index: -1;
	}
}

@media screen and (width < 992px) {
	.email-section {
		padding: 1rem;
	}
	.email-section .email-section-img {
		display: none;
	}
}

@media screen and (width < 500px) {
	.email-section .checkbox-group {
		grid-template-columns: 1fr;
	}
}
/* ------------------		Email Section End		---------------------- */
